.select2-container--default .select2-selection--single {
    border-radius: 10px !important;
    border: none !important;
    height: 44px !important;
    background-color: #222222 !important;
    transition: all 120ms ease-out;
}

.select2-container--default .select2-selection--single:hover {
    background-color: #292929 !important;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-family: "Roboto";
    line-height: 44px !important;
    margin-left: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    color: #a1a1a1 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
    background-color: transparent;
    background-size: contain;
    border: none !important;
    height: 16px !important;
    width: 16px !important;
    margin: auto !important;
    /* top: 20px !important;
    left: auto !important; */
    left: -6px !important;
    transition: all 150ms ease-out;
}

.select2-container--open .select2-selection__arrow b {
    transform: rotate(-180deg) !important;
}

.select2-container--open .select2-dropdown--below {
    border-radius: 10px !important;
    top: 10px !important;
    padding: 0px 0px 10px 0px !important;
    border: none !important;
    background-color: #242424 !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(18px);
    box-sizing: border-box !important;
}

.select2-results__option {
    margin: 10px 5px 0px 10px !important;
    border-radius: 10px !important;
    padding: 10px !important;
    font-family: "Roboto";
    transition: all 150ms ease-out;
}

.select2-results__option--selected {
    background-color: #0168fa !important;
    pointer-events: none !important;
    transition: all 150ms ease-out;
    color: white !important;
}

.select2-results__option--highlighted {
    background-color: #303030 !important;
    transition: all 150ms ease-out;
    color: white !important;
}

.select2-search__field {
    border-radius: 10px !important;
    padding: 10px 8px !important;
    border: none !important;
    background-color: #202020 !important;
    transition: all 150ms ease-out;
    -webkit-box-shadow: inset 0px 0px 0px 2px #292929a9;
  -moz-box-shadow: inset 0px 0px 0px 2px #292929a9;
  box-shadow: inset 0px 0px 0px 2px #292929a9;
}

.select2-search__field:hover {
    -webkit-box-shadow: inset 0px 0px 0px 2px #e3e3e3;
    -moz-box-shadow: inset 0px 0px 0px 2px #e3e3e3;
    box-shadow: inset 0px 0px 0px 2px #e3e3e3;
}

.select2-search__field:focus-within {
    -webkit-box-shadow: inset 0px 0px 0px 2px #e3e3e3;
    -moz-box-shadow: inset 0px 0px 0px 2px #e3e3e3;
    box-shadow: inset 0px 0px 0px 2px #e3e3e3;
}


.select2-container {
    width: 100% !important;
}

select.form-select.new {
    background-color: #292929 !important;
    border: none;
    cursor: pointer;
    transition: all 120ms ease-out;
}

select.form-select.new:hover {
    background-color: #323232 !important;
    border: none;
}